<footer>
  <div class="footer-first-section">
    <span><strong>¡Ponte en contacto con nosotros!</strong></span>
    <ul class="social-media">
       <li>
         <a href="#"><i>facebook</i></a>
       </li>
       <li>
         <a href="#"><i>email</i></a>
       </li>
       <li>
         <a href="#"><i>phone</i></a>
       </li>
    </ul>
  </div>

  <div class="footer-second-section">
    <img src="assets/images/svg/logo.svg" alt="Super Vegetariano reduced logo">
    <div class="text-footer">
    </div>
  </div>
  <div class="footer-third-section">
    <span>© 2019 Copyright <strong>Super Vegetariano</strong> | Página creada por <a href="https://stefandevai.github.io">Stefan Devai</a></span>
  </div>
</footer>
