<nav class="top-menu">
  <a href="#"><img src="assets/images/svg/logo.svg" alt="Super Vegetariano reduced logo"></a>
  <ul>
    <li><a href="#">Historia</a></li>
    <li><a href="#">Especialidades</a></li>
    <li><a href="#">¿Dónde?</a></li>
    <li><a href="#">Contacto</a></li>
    <li><a href="#">Novedades</a></li>
  </ul>
</nav>

<nav id="sticky-navbar" class="fixed-menu">
  <a href="#"><img src="assets/images/svg/logo.svg" alt="Super Vegetariano reduced logo"></a>
  <ul>
    <li><a href="#">Historia</a></li>
    <li><a href="#">Especialidades</a></li>
    <li><a href="#">¿Dónde?</a></li>
    <li><a href="#">Contacto</a></li>
    <li><a href="#">Novedades</a></li>
  </ul>
</nav>
