<nav class="top-menu">
  <img src="assets/images/svg/logo.svg" alt="Super Vegetariano reduced logo" onclick="navHome.smoothScroll('top')">
  <ul>
    <li class="nav-item" onclick="navHome.smoothScroll('historia')">Historia</li>
    <li class="nav-item" onclick="navHome.smoothScroll('especialidades')">Especialidades</li>
    <li class="nav-item" onclick="navHome.smoothScroll('donde')">¿Dónde?</li>
    <li class="nav-item" onclick="navHome.smoothScroll('contacto')">Contacto</li>
    {% comment %}<li><a href="#">Novedades</a></li>{% endcomment %}
  </ul>
</nav>

<nav id="sticky-navbar" class="fixed-menu">
  <img src="assets/images/svg/logo.svg" alt="Super Vegetariano reduced logo" onclick="navHome.smoothScroll('top')">
  <ul>
    <li class="nav-item" onclick="navHome.smoothScroll('historia')">Historia</li>
    <li class="nav-item" onclick="navHome.smoothScroll('especialidades')">Especialidades</li>
    <li class="nav-item" onclick="navHome.smoothScroll('donde')">¿Dónde?</li>
    <li class="nav-item" onclick="navHome.smoothScroll('contacto')">Contacto</li>
    {% comment %}<li><a href="#">Novedades</a></li>{% endcomment %}
  </ul>
</nav>
