<nav class="top-menu">
  <img src="assets/images/svg/logo.svg" alt="Super Vegetariano reduced logo" onclick="navHome.scroll('top')">
  <ul>
    <li class="nav-item" onclick="navHome.scroll('historia')">Historia</li>
    <li class="nav-item" onclick="navHome.scroll('especialidades')">Especialidades</li>
    <li class="nav-item" onclick="navHome.scroll('donde')">¿Dónde?</li>
    <li class="nav-item" onclick="navHome.scroll('contacto')">Contacto</li>
    {% comment %}<li><a href="#">Novedades</a></li>{% endcomment %}
  </ul>
</nav>

<nav id="sticky-navbar" class="fixed-menu">
  <img src="assets/images/svg/logo.svg" alt="Super Vegetariano reduced logo" onclick="navHome.scroll('top')">
  <ul>
    <li id="nav-item-historia" class="nav-item" onclick="navHome.scroll('historia')">Historia</li>
    <li id="nav-item-especialidades" class="nav-item" onclick="navHome.scroll('especialidades')">Especialidades</li>
    <li id="nav-item-donde" class="nav-item" onclick="navHome.scroll('donde')">¿Dónde?</li>
    <li id="nav-item-contacto" class="nav-item" onclick="navHome.scroll('contacto')">Contacto</li>
    {% comment %}<li><a href="#">Novedades</a></li>{% endcomment %}
  </ul>
</nav>
