html,body
  font-family: $font-primary

body
  border: solid 0.8rem $white 
  scroll-behavior: smooth

h1,h2
  font-family: $font-secondary

h2
  font-size: $font-size-h2
  color: $color-h2

h3
  color: $color-h3

p
  font-size: $font-size-p
  color: $color-p

a
  color: $brand
  font-weight: 800
  -webkit-transition: color .3s
  transition: color .3s

  &:hover
    color: $brand-dark

span.dash
  color: $lighter
