html,body
  font-family: $font-primary
  font-display: swap

body
  border: solid 0.8rem $white 
  scroll-behavior: smooth

h1,h2
  font-family: $font-secondary
  font-display: swap

h2
  font-size: $font-size-h2
  color: $color-h2

h3
  color: $color-h3

p
  font-size: $font-size-p
  color: $color-p

a
  color: $brand
  font-weight: 800
  -webkit-transition: color .3s
  transition: color .3s

  &:hover
    color: $brand-dark

span.dash
  color: $lighter

#preloader-wrapper
  position: fixed
  text-align: center
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

#load-content-wrapper
  opacity: 0
  -webkit-transition: opacity 0.4s
  transition: opacity 0.4s
