.remove-mobile
  +mobile
    display: none
  +tablet
    display: block
  +desktop
    display: block

.add-mobile
  +mobile
    display: block
  +tablet
    display: none
  +desktop
    display: none

html,body
  font-family: $font-primary
  font-display: swap

body
  +tablet
    border: solid 0.8rem $white 
  scroll-behavior: smooth

h1,h2
  font-family: $font-secondary
  font-display: swap

h2
  font-size: $font-size-h2
  color: $color-h2

h3
  color: $color-h3

p
  font-size: $font-size-p
  color: $color-p

a
  color: $brand
  font-weight: 800
  -webkit-transition: color .3s
  transition: color .3s

  &:hover
    color: $brand-dark

span.dash
  color: $lighter
  +mobile
    display: none
  +tablet
    display: inline-block

input[type="submit"]
  height: 3rem
  justify-self: center
  align-self: center
  border: none
  border-radius: 5px
  border: 5px solid $brand
  cursor: pointer
  font-weight: bold
  text-transform: uppercase
  letter-spacing: 1px
  text-align: center
  transition: all .2s
  color: $brand
  background-color: transparent
  width: $pixel-unit*12

  +mobile
    width: 100%

  &:hover
    background-color: $brand
    color: $dark

  &:active
    background-color: $brand-dark
    border-color: $brand-dark

  &:focus
    outline: none

#preloader-wrapper
  position: fixed
  text-align: center
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

#load-content-wrapper
  opacity: 0
  -webkit-transition: opacity 0.4s
  transition: opacity 0.4s
