footer
  font-size: $font-size-footer
  color: $white

  .footer-first-section
    background-color: $brand-dark
    font-size: $font-size-p
    height: 4rem

    display: flex
    align-items: center
    justify-content: space-evenly

    ul
      list-style: none

      li
        display: inline

  .footer-second-section
    background-color: $darker
    height: 219px

    display: flex
    justify-content: space-between

    img
      margin-left: 4rem

    div.text-footer
      margin-right: 4rem

  .footer-third-section
    background-color: $black
    color: $primary
    height: 2.5rem
    display: flex
    justify-content: center
    align-items: center

    strong,a
      color: $white

    a:hover
      color: $brand

