section.contact
  background-color: $primary
  background: url("../images/fruit_bg.jpg")
  background-attachment: fixed

  height: 100vh
  text-align: center

  h2
    color: $white

  form
    width: 70%
    margin: 0 auto

  input,textarea
    border-radius: 40px
    border: none

  input
    height: 3rem

  input[type="text"],input[type="email"]
    width: 49%
    padding: 0

  input[type="submit"]
    background-color: $brand
    color: $white
    font-weight: bold
    width: 8rem
    float: right

  textarea
    width: 100%
    height: 9rem
