div.triangle
  width: 0
  height: 0
  margin: 0 auto
  border-color: $black transparent
  border-style: solid
  border-width: 30px 50px 0 50px
  filter: blur(5px)
  z-index: 1
  position: absolute
  left: 0
  right: 0

div.triangle-shadow::before
  content: ''
  position: absolute
  width: 100px
  height: 100px
  background-color: $white
  top: -130px
  left: -50px
  right: 0
  margin: 0 auto
  z-index: 2

div.triangle-shadow
  position: absolute
  width: 0
  height: 0
  left: 0
  right: 0
  margin: 0 auto
  border-color: $white transparent
  border-style: solid
  border-width: 30px 50px 0 50px
  z-index: 2

section.contact
  background-color: $primary
  background: url("../images/fruit_bg.jpg")
  background-attachment: fixed
  overflow: hidden

  -webkit-box-shadow: inset 0px 7px 22px -7px rgba(0,0,0,0.45)
  -moz-box-shadow: inset 0px 7px 22px -7px rgba(0,0,0,0.45)
  box-shadow: inset 0px 7px 22px -7px rgba(0,0,0,0.45)

  min-height: 500px
  height: 100vh
  text-align: center

  display: flex
  flex-direction: column
  justify-content: center

  h2
    color: $white
    margin: 2.5rem auto
    //margin-top: 6rem

  form
    z-index: 0
    min-height: 300px
    //height: 70vh
    width: $form-width
    margin: 0 auto
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 80px 250px 80px
    grid-gap: $pixel-unit
    grid-template-areas: "n e" "m m" "b b"

    .name-input,.email-input,.message-input
      padding: 0
      margin: 0
      border: none
      display: flex
      flex-direction: column-reverse

    .name-input,.email-input 
      justify-content: flex-end
    .message-input
      justify-content: flex-start

    .name-input
      grid-area: n
      > label::before
        content: 'person'
        
    .email-input
      grid-area: e
      > label::before
        content: 'email'

    .message-input
      grid-area: m
      > label::before
        content: 'comment'

  label
    color: $white
    padding-bottom: $pixel-unit/2
    text-align: left
    font-weight: bold
    transition: color .3s
    transition: text-shadow .5s

    &::before
      font-family: 'Material Icons'
      font-size: $font-size-p
      font-weight: normal
      font-style: normal
      line-height: 1
      text-transform: none
      letter-spacing: normal
      word-wrap: normal
      white-space: nowrap
      direction: ltr
      vertical-align: bottom
      margin-right: $pixel-unit

  input[type="text"],input[type="email"],textarea
    border: 2px solid $white
    border-radius: 5px
    transition: box-shadow .5s

    &:hover
      border-color: $brand

    &:focus
      border-color: $brand-light
      outline: none
      -webkit-box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.55)
      -moz-box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.55)
      box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.55)

      &::placeholder
        opacity: 0

      & ~ label
        text-shadow: 1px 1px 4px rgba(0,0,0,0.59)

    &::placeholder
      color: $primary
      font-style: italic
      transition: opacity .2s

    &:not(:placeholder-shown)
      &:valid
        border-color: $brand-light
        & ~ label
          color: $brand-light
          &::before
            content: 'done'

    &:not(:placeholder-shown)
      &:invalid
        border-color: $warning
        & ~ label
          color: $warning
          &::before
            content: 'close'

  input
    height: 3rem
    background-position: right center


  input[type="text"],input[type="email"]
    padding: 0 $pixel-unit*2

  input[type="submit"]
    grid-area: b
    justify-self: center
    align-self: center
    border: none
    border-radius: 5px
    width: $pixel-unit*12
    background-color: transparent
    color: $brand-light
    border: 5px solid $brand-light
    cursor: pointer
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 1px
    text-align: center
    transition: all .2s

    &:hover
      background-color: $brand-light
      color: $dark
      -webkit-box-shadow: 3px 3px 3px 0px $dark
      -moz-box-shadow: 3px 3px 3px 0px $dark
      box-shadow: 3px 3px 3px 0px $dark

    &:active
      background-color: $brand-dark
      border-color: $brand-dark

    &:focus
      outline: none

  textarea
    resize: none
    padding: $pixel-unit $pixel-unit*2
    background-position: $pixel-unit*2 $pixel-unit
    min-height: 3rem
    height: 100%

#notification
  opacity: 0
  -webkit-transition: all .3s
  transition: all .3s
  height: 0
  width: $form-width
  margin: 0 auto
  color: $white
  font-weight: bold
  border-radius: 10px
  display: flex
  align-items: center
  justify-content: center

  &.success
    background-color: $brand
    opacity: 1
    margin-bottom: $pixel-unit
    height: 3rem

  &.failure
    background-color: $warning
    opacity: 1
    margin-bottom: $pixel-unit
    height: 3rem
