section.contact
  background-color: $primary
  background: url("../images/fruit_bg.jpg")
  background-attachment: fixed

  height: 100vh
  text-align: center

  display: flex
  flex-direction: column
  justify-content: space-evenly

  h2
    color: $white

  form
    height: 500px
    width: 70%
    margin: 0 auto
    display: grid
    grid-template-columns: 40px 1fr 1fr 40px
    grid-template-rows: 80px 4fr 100px
    grid-column-gap: $pixel-unit
    grid-row-gap: $pixel-unit
    grid-template-areas: ". n e ." ". m m ." ". . b ."

    .name-input,.email-input,.message-input
      padding: 0
      margin: 0
      border: none
      display: flex
      flex-direction: column-reverse

    .name-input,.email-input 
      justify-content: flex-end
    .message-input
      justify-content: flex-start

    .name-input
      grid-area: n
    .email-input
      grid-area: e
    .message-input
      grid-area: m

  label
    color: $white
    padding-bottom: $pixel-unit/2
    text-align: left
    font-weight: bold
    transition: color .3s
    transition: text-shadow .5s


  input[type="text"],input[type="email"],textarea
    border: 2px solid $white
    border-radius: 5px
    transition: box-shadow .5s

    &:hover
      border-color: $brand

    &:focus
      border-color: $brand-light
      outline: none
      -webkit-box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.55)
      -moz-box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.55)
      box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.55)

      &::placeholder
        opacity: 0

      & ~ label
        text-shadow: 1px 1px 4px rgba(0,0,0,0.59)

    &::placeholder
      color: $primary
      font-style: italic
      transition: opacity .2s

    &:not(:placeholder-shown)
      &:valid
        border-color: $brand-light
        & ~ label
          color: $brand-light

    &:not(:placeholder-shown)
      &:invalid
        border-color: $warning
        & ~ label
          color: $warning

    //&:required
      //border-color: $white

  input
    height: 3rem
    background-position: right center

  input[type="text"],input[type="email"]
    padding: 0 $pixel-unit*2

  input[type="submit"]
    grid-area: b
    justify-self: end
    border: none
    border-radius: 5px
    background-color: $brand
    color: $white
    width: 8rem
    float: right
    cursor: pointer
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 3px
    text-align: center
    transition: all .2s

    &:hover
      background-color: $brand-light
      color: $dark
      -webkit-box-shadow: 3px 3px 3px 0px $dark
      -moz-box-shadow: 3px 3px 3px 0px $dark
      box-shadow: 3px 3px 3px 0px $dark

    &:active
      background-color: $brand

    &:focus
      outline: none

  textarea
    resize: none
    padding: $pixel-unit $pixel-unit*2
    background-position: $pixel-unit*2 $pixel-unit
    height: 100%
