section.block-donde
  background-image: url('../images/svg/top_pattern.svg')
  background-repeat: no-repeat
  background-position: left bottom

  ul
    list-style: none

  div.map
    background-color: $primary
