section.block-especialidades
  display: grid
  grid-template-columns: repeat(2, 1fr)

  div.image-mosaic
    overflow: hidden
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, calc((100vh - #{$navbar-height})/2))
    grid-column-gap: $rem-unit
    grid-row-gap: $rem-unit

  img
    height: 100%
    width: auto

  div.foto-especialidad
    cursor: pointer
    position: relative
    overflow: hidden
    transition: all .3s

    img
      will-change: transform
      width: 100%
      height: 100%
      object-fit: cover
      transition: all .4s

    &:hover:not(.primary) img
      transform: scale(1.1)

    &:hover:not(.primary) div.title-wrapper
      opacity: 1

    div.title-wrapper
      will-change: opacity
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      opacity: 0
      position: absolute
      z-index: 2
      transition: opacity .3s
      h3
        font-size: 1.5rem
        margin-left: 15%
        margin-right: 15%
        letter-spacing: 4px
        line-height: 1.8
        color: white

  .hide-description
    display: none

  .section-text > div
    will-change: opacity
    -webkit-transition: opacity .4s
    transition: opacity .4s

