section.hero
  background: url('../images/hero_bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: 0% 100%
  height: 110vh

  > div
    height: 45vh
    padding-top: 35vh
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

  svg
    pointer-events: bounding-box
    width: 40px

    -webkit-animation: arrow 1.3s infinite
    animation: arrow 1.3s infinite
    transition: transform .5s

    &:hover
      transform: scale(1.1)

    > path
      stroke: $lighter
      transition: stroke .3s

    > path:hover
      stroke: $white

  @-webkit-keyframes arrow
    from
      padding-bottom: $pixel-unit
      padding-top: 0
    to
      padding-bottom: 0
      padding-top: 30px

  @keyframes arrow
    from
      padding-bottom: $pixel-unit
      padding-top: 0
    to
      padding-bottom: 0
      padding-top: 30px

