section.hero
  min-height: 400px
  height: 90vh
  +tablet
    min-height: 500px
    height: 100vh
  +desktop
    min-height: 700px
    height: 110vh
  position: relative

  .hero-bg
    z-index: -3
    position: absolute
    background-image: url('../images/hero-1600w.png')
    background-repeat: no-repeat
    //background-size: cover
    background-position: center 100%
    width: 100%
    height: 100%

    //img
      //width: 100%
      //width: auto

  //.hero-bg
    //position: absolute
    //overflow: hidden
    //background: url('../images/hero_bg_lighter-compressed.jpg')
    //background-repeat: no-repeat
    //background-size: cover
    //background-position: 0% 100%
    //width: 100vw
    //height: 100%
    //z-index: -3
    //padding: 0

  .hero-wrapper
    position: relative
    text-align: center

  img.logo-completo
    position: absolute
    top: 35vh
    margin: 0 auto
    left: 0
    right: 0

  div#hero-arrow
    position: absolute
    top: 88vh
    +tablet
      top: 70vh
    +desktop
      top: 75vh
    left: 0
    right: 0

  svg
    pointer-events: bounding-box
    cursor: pointer
    width: 40px

    -webkit-animation: arrow 1.3s infinite
    animation: arrow 1.3s infinite
    transition: transform .5s

    &:hover
      transform: scale(1.1)

    > path
      stroke: $lighter
      transition: stroke .3s

    > path:hover
      stroke: $white

  @-webkit-keyframes arrow
    0%
      -webkit-transform: translate(0, 0) /* Safari */
    15%
      -webkit-transform: translate(0, $pixel-unit/2) /* Safari */
    100%
      -webkit-transform: translate(0, 0) /* Safari */

  @keyframes arrow
    0%
      transform: translate(0, 0)
    15%
      transform: translate(0, $pixel-unit/2)
    100%
      transform: translate(0, 0)

