section.block-historia
  background-image: url('../images/svg/top_pattern.svg')
  background-repeat: no-repeat

  +mobile
    display: flex
    flex-direction: column
    margin-bottom: $pixel-unit*3
    min-height: 850px
  +tablet
    display: grid

  img
    overflow: hidden

    +mobile
      width: 100%
      height: auto

    +tablet
      width: auto
      height: 100%

