section.block-main
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: minmax(300px, calc(100vh - 73px))

  overflow: hidden

  h3
    text-transform: uppercase

  p
    font-style: italic

  &:first-child
    margin-top: $pixel-unit*4

  &:last-child
    margin-bottom: $pixel-unit*10

  &.block-left
    text-align: right

  &.block-right
    text-align: left

  .section-text
    margin: auto 8rem

  .top-pattern
    float: left
