<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    <div id="preloader-wrapper">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
    <div id="load-content-wrapper">
      {% include navbar.html %}
      {% include home/hero.html %}

      <main class="sv-main" aria-label="Content">
        {% include home/historia.html %}
        {% include home/especialidades.html %}
        {% include home/donde.html %}
      </main>

      {% include home/contacto.html %}
      {% include footer.html %}
      {% include home/scripts.html %}
    </div>
    {% comment %}<div class="g-recaptcha" data-sitekey="6LcQJ5wUAAAAAKSipV57SjbJwfkyxg7uLyNYOq_S"></div>{% endcomment %}
  </body>

</html>

