<section class="contact">
  <div class="triangle"></div>
  <h2>- Envía tu mensaje -</h2>
  <form action="">
    <div class="name-input">
      <input type="text" name="name" placeholder="Aureliano Buendía" maxlength="64" required>
      <label for="name">¿Quién eres?</label>
    </div>
    <div class="email-input">
      <input type="email" name="email" placeholder="nombre@ejemplo.com.mx" maxlength="64" required>
      <label for="email">¿Cómo te contestamos?</label>
    </div>
    <div class="message-input">
      <textarea name="message" placeholder="Escribe aquí tu mensaje..." maxlength="3000" required></textarea>
      <label for="message">¿Qué nos cuentas?</label>
    </div>
    <input type="submit" value="Enviar">
  </form>
</section>
