<div class="triangle"></div>
<div class="triangle-shadow"></div>
<section id="contacto" class="contact">
  <h2 data-aos="fade-up">- Escríbenos -</h2>
  <span id="notification"></span>
  <form>
    <div class="name-input">
      <input id="name-input" type="text" name="name" placeholder="Aureliano Buendía" maxlength="64" required>
      <label for="name">Nombre</label>
    </div>
    <div class="email-input">
      <input id="email-input" type="email" name="emailAddress" placeholder="nombre@ejemplo.com.mx" maxlength="64" required>
      <label for="email">Correo o teléfono</label>
    </div>
    <div class="message-input">
      <span style="text-align: left; font-size: 0.8rem; color: white; margin-top: 5px; font-style: italic;">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</span>
      <textarea  id="message-input" name="message" placeholder="Escribe aquí tu mensaje..." maxlength="3000" required></textarea>
      <label for="message">Mensaje</label>
    </div>
    <input id="submit-button" type="submit" value="Enviar">
  </form>
    <div class="g-recaptcha" data-sitekey="6LcQJ5wUAAAAAKSipV57SjbJwfkyxg7uLyNYOq_S" data-theme="dark"></div>
</section>
