<div class="triangle"></div>
<div class="triangle-shadow"></div>
<section id="contacto" class="contact">
  <h2 data-aos="fade-up">- Envía tu mensaje -</h2>
  {% comment %}<form action="https://clumsy-guineafowl.dev.with-datafire.io/contact" method="post">{% endcomment %}
  <span id="notification"></span>
  <form>
    <div class="name-input">
      <input id="name-input" type="text" name="name" placeholder="Aureliano Buendía" maxlength="64" required>
      <label for="name">¿Quién eres?</label>
    </div>
    <div class="email-input">
      <input id="email-input" type="email" name="emailAddress" placeholder="nombre@ejemplo.com.mx" maxlength="64" required>
      <label for="email">¿Cómo te contestamos?</label>
    </div>
    <div class="message-input">
      <textarea  id="message-input" name="message" placeholder="Escribe aquí tu mensaje..." maxlength="3000" required></textarea>
      <label for="message">¿Qué nos cuentas?</label>
    </div>
    <input id="submit-button" type="submit" value="Enviar">
  </form>
</section>
