<section id="donde" class="block-donde block-left block-main">
   <div class="section-text">
     <h2 data-aos="fade-up"><span class="dash">-</span> Dónde <span class="dash">-</span></h2>
     <ul class="locales">
       {% for address in site.addresses %}
       <a class="address-anchor" href="{{ address.mapurl }}" target="_blank" data-popup={{ address.uid }}>
           <li data-aos="fade-left">
             <p>{{ address.street }},<br>
               {{ address.neighborhood }},<br>
               {{ address.city }}.</p>
             <img class="lazy" data-src="assets/images/svg/pin.svg" alt="">
           </li>
         </a>
       {% endfor %}
     </ul>
   </div>
   <div id="map" class="map">
   </div>
</section>

