<section class="block-donde block-left block-main">
   <div class="section-text">
     <h2><span class="dash">-</span> Dónde <span class="dash">-</span></h2>
     <ul class="locales">
       {% for address in site.addresses %}
         <li>
           <p>{{ address.street }},<br>
             {{ address.neighborhood }},<br>
             {{ address.city }}.</p>
         </li>
       {% endfor %}
     </ul>
   </div>
   <div class="map"></div>
  {% comment %}<div class="block-decoration"></div>{% endcomment %}
</section>

