<section id="especialidades" class="block-especialidades block-right block-main">
  <div id="image-mosaic" class="image-mosaic">
    <div data-description="first-description" class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Hamburguesa</h3>
        <p class="desc-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img class="lazy" data-src="assets/images/hamburguesa.jpg" alt="Helado">
    </div>

    <div data-description="second-description" class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Desayunos</h3>
        <p class="desc-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img class="lazy" data-src="assets/images/desayunos.jpg" alt="Helado">
    </div>

    <div data-description="third-description" class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Nieves</h3>
        <p class="desc-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img class="lazy" data-src="assets/images/nieve.jpg" alt="Lentejas">
    </div>

    <div data-description="fourth-description" class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Buffet</h3>
        <p class="desc-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img class="lazy" data-src="assets/images/barra.jpg" alt="Helado">
    </div>
  </div>

  <div class="section-text">
    <div id="default-description">
      <h2 data-aos="fade-up"><span class="dash">-</span> Especialidades <span class="dash">-</span></h2>
      <div class="speciality-text" data-aos="zoom-out">
        <h3>Nuestras especialidades</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="{{ '/desayunos' | absolute_url }}">
          <input class="add-mobile" type="submit" value="Más desayunos">
        </a>
      </div>
    </div>

    <div class="hide-description" id="first-description">
      <h2 data-aos="fade-up"><span class="dash">-</span> Hamburguesa <span class="dash">-</span></h2>
      <div class="speciality-text" data-aos="zoom-out">
        <h3>Hamburguesa</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="hide-description" id="second-description">
      <h2 data-aos="fade-up"><span class="dash">-</span> Desayunos <span class="dash">-</span></h2>
      <div class="speciality-text" data-aos="zoom-out">
        <h3>Desayunos</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="{{ '/desayunos' | absolute_url }}">
          <input type="submit" value="Más desayunos">
        </a>
      </div>
    </div>
    
    <div class="hide-description" id="third-description">
      <h2 data-aos="fade-up"><span class="dash">-</span> Nieves <span class="dash">-</span></h2>
      <div class="speciality-text" data-aos="zoom-out">
        <h3>Nieves</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="hide-description" id="fourth-description">
      <h2 data-aos="fade-up"><span class="dash">-</span> Buffet <span class="dash">-</span></h2>
      <div class="speciality-text" data-aos="zoom-out">
        <h3>Buffet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</section>

