<section id="especialidades" class="block-especialidades block-right block-main">
  <div id="image-mosaic" class="image-mosaic">
    <div data-description="first-description" class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Hamburguesa</h3>
        <p class="desc-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img class="lazy" data-src="assets/images/hamburguesa.jpg" alt="Helado">
    </div>

    <div data-description="second-description" class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Desayunos</h3>
        <p class="desc-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img class="lazy" data-src="assets/images/desayunos.jpg" alt="Helado">
    </div>

    <div data-description="third-description" class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Nieves</h3>
        <p class="desc-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img class="lazy" data-src="assets/images/nieve.jpg" alt="Lentejas">
    </div>

    <div data-description="fourth-description" class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Buffet</h3>
        <p class="desc-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img class="lazy" data-src="assets/images/barra.jpg" alt="Helado">
    </div>
  </div>

  <div class="section-text">
    <div id="default-description">
      <h2 data-aos="fade-up"><span class="dash">-</span> Especialidades <span class="dash">-</span></h2>
      <div class="speciality-text" data-aos="zoom-out">
        <h3>Nuestras especialidades</h3>
        <p>Cuando platicamos con nuestros clientes, nos damos cuenta de lo que les gusta muchísimo: la Super hamburguesa, las ensaladas crujientes, las nieves exquisitas y la inmensa variedad de colores y sabores en buffet. En cada imagen al lado, te contamos más.</p>
        <a href="{{ '/desayunos' | absolute_url }}">
          <input class="add-mobile" type="submit" value="Más desayunos">
        </a>
      </div>
    </div>

    <div class="hide-description" id="first-description">
      <h2 data-aos="fade-up"><span class="dash">-</span> Hamburguesa <span class="dash">-</span></h2>
      <div class="speciality-text" data-aos="zoom-out">
        <h3>Hamburguesa</h3>
        <p>Nuestra hamburguesa es una de las especialidades distinguidas de Super Vegetariano, ya que lleva impresa la tradición de dicho negocio. Cuenta con ingredientes hechos a base de trigo, harina integral y una variedad de sabrosas legumbres como zanahoria, lechugas mixtas, germinados, así como diferentes tipos de lácteos que van desde panela, manchego hasta la opción vegana, que son quesos derivados de almendras y soya. ¿El resultado? Una maravilla para la salud.</p>
      </div>
    </div>

    <div class="hide-description" id="second-description">
      <h2 data-aos="fade-up"><span class="dash">-</span> Desayunos <span class="dash">-</span></h2>
      <div class="speciality-text" data-aos="zoom-out">
        <h3>Desayunos</h3>
        <p>Super Vegetariano ofrece desayunos con sabor y energía. Buscamos ofrecer a nuestro publico la calidad de los platillos vegetarianos y veganos teniendo como contexto la tradición y sazón mexicana, quedando al descubierto una gran variedad de platillos sumamente exquisitos como: enchiladas verdes, rojas, de mole, suizas, molletes, chapatas y tantos más así como licuados, jugos, postres.</p>
        <a href="{{ '/desayunos' | absolute_url }}">
          <input type="submit" value="Más desayunos">
        </a>
      </div>
    </div>
    
    <div class="hide-description" id="third-description">
      <h2 data-aos="fade-up"><span class="dash">-</span> Nieves <span class="dash">-</span></h2>
      <div class="speciality-text" data-aos="zoom-out">
        <h3>Nieves</h3>
        <p>Nuestras nieves brindan a nuestros comensales una experiencia única que transmite el gran sabor michoacano aunado a una experiencia saludable como: helado de quinua con algarrobo, limón con chía, yaka y muchos más. Aparte de un sabor placentero, disfrutas de un producto medicinal y saludable. ¡Ven a probar nuestras nieves! Cada cuando sacamos un nuevo y delicioso sabor.</p>
      </div>
    </div>

    <div class="hide-description" id="fourth-description">
      <h2 data-aos="fade-up"><span class="dash">-</span> Buffet <span class="dash">-</span></h2>
      <div class="speciality-text" data-aos="zoom-out">
        <h3>Buffet</h3>
        <p>Nuestro buffet Vegetariano y Vegano es uno de los más completos de la región. El buffet con una variedad de sabores y colores es la expresión viva de la comida michoacana mexicana. Así que en nuestros restaurantes habrá siempre la tarea "difícil" de elegir lo que vas a comer este día. Por supuesto, eres bienvenido todos los días y puedes comprar para llevar a tu casa u oficina.</p>
      </div>
    </div>
  </div>
</section>

