<section id="especialidades" class="block-especialidades block-right block-main">
  <div id="image-mosaic" class="image-mosaic">
    {% comment %}<div class="foto-especialidad">{% endcomment %}
      {% comment %}<div class="title-wrapper">{% endcomment %}
        {% comment %}<h3>Helado vegano</h3>{% endcomment %}
      {% comment %}</div>{% endcomment %}
      {% comment %}<img src="assets/images/hamburguesa.jpg" alt="Helado">{% endcomment %}
    {% comment %}</div>{% endcomment %}

    {% comment %}<div class="foto-especialidad">{% endcomment %}
      {% comment %}<div class="title-wrapper">{% endcomment %}
        {% comment %}<h3>Helado vegano</h3>{% endcomment %}
      {% comment %}</div>{% endcomment %}
      {% comment %}<img src="assets/images/pizza.jpg" alt="Helado">{% endcomment %}
    {% comment %}</div>{% endcomment %}

    <div class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Helado vegano</h3>
      </div>
      <img src="assets/images/food2.jpg" alt="Helado">
    </div>

    <div class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Helado vegano</h3>
      </div>
      <img src="assets/images/food3.jpg" alt="Helado">
    </div>

    <div class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Lentejas enchiladas</h3>
      </div>
      <img src="assets/images/lentils.jpg" alt="Lentejas">
    </div>

    <div class="foto-especialidad">
      <div class="title-wrapper">
        <h3>Helado vegano</h3>
      </div>
      <img src="assets/images/ice-cream.jpg" alt="Helado">
      </div>
  </div>

  <div class="section-text">
    <h2 data-aos="fade-up"><span class="dash">-</span> Especialidades <span class="dash">-</span></h2>
    <div class="speciality-text" data-aos="zoom-out">
      <h3>Hamburguesa Vegetariana</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</section>

