<section id="historia" class="block-historia block-left block-main sticky-menu-trigger">
  <div class="section-text">
    <h2 data-aos="fade-up"><span class="dash">-</span> Historia <span class="dash">-</span></h2>
    <div data-aos="zoom-out">
    <h3>Auténtico sazón vegetariano</h3>
    <p>Disfrutar una comida sana y exquisita, probar una hamburguesa de chuparse los dedos o desayunar con lo que te da energia de verdad para tu dia son experiencias para vivir en el Super Vegetariano. Y todo lo que te ofrecemos ha nascido de una tradición de hace más de 100 años. La abuelita Conchita vivía con una dieta vegetariana y hasta los 104 años de edad tuvo una mente lúcida y la disposición para trabajar y preparar sus guisos "verdes", como lo llamábamos.</p>
    <p>De ahí en adelante, los principios para cuidar de la salud a través de la comida vegetariana y los medios naturales de restaurar la salud se transformaron en un estilo de vida. Eso quiere decir que lo que pruebas y disfrutas en nuestros restaurantes es el resultado de más de un siglo de creencia y práctica en conocimientos que te darán mejor salud y mejor disposición para disfrutar la vida y conquistar todo lo que es importante para ti.</p>
    </div>
  </div>
  <!--<img class="lazy" data-src="assets/images/rest.webp" alt="Local Super Vegetariano">-->
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img data-src="assets/images/rest.webp" class="swiper-lazy">
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="assets/images/new-mariano.jpg" class="swiper-lazy">
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="assets/images/stma.jpg" class="swiper-lazy">
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Navigation -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
</section>
