{% comment %}<img class="top-pattern" src="assets/images/svg/top_pattern.svg" alt="Decoration pattern">{% endcomment %}
<section class="block-historia block-left block-main">
  <div class="section-text">
    <h2><span class="dash">-</span> Historia <span class="dash">-</span></h2>
    <h3>Auténtico sazón vegetariano</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu.</p>
  </div>
  <img src="assets/images/restauran_centro.jpg" alt="Local Super Vegetariano">
</section>
