<script>
// Page load transition
document.onreadystatechange = () => {
  if (document.readyState === 'complete') {
    document.getElementById("load-content-wrapper").style.opacity = "1";
    document.getElementById("preloader-wrapper").style.opacity = "0";
  }
};
</script>

<script src="assets/js/StickyNavbar.js"></script>
<script src="assets/js/parallax.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>

<script src="assets/js/especialidades.js"></script>
<script src="assets/js/map.js"></script>

<script>
  let navHome = new StickyNavbar(73);

  applyParallax(['hero-bg', 'hero-arrow'], 0.1);

  AOS.init();
</script>

{% include google-analytics-tag.html %}


