<script>
// Page load transition
//document.onreadystatechange = () => {
//  if (document.readyState === 'complete') {
//    document.getElementById("load-content-wrapper").style.opacity = "1";
//    document.getElementById("preloader-wrapper").style.opacity = "0";
//  }
//};
</script>

<script src="assets/js/StickyNavbar.js" defer></script>
<script src="assets/js/parallax.js" defer></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin="" defer></script>
<script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.5.1/intersection-observer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@11.0.6/dist/lazyload.min.js"></script>

<script src="assets/js/especialidades.js" defer></script>
<script src="assets/js/map.js" defer></script>
<script src="assets/js/contacto.js" defer></script>

<script>
  AOS.init();
</script>

{% include google-analytics-tag.html %}


